
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Header -->
<div id="header">
	<!--<span class="logo icon fa-paper-plane-o"></span>-->
	<img src="../images/scoop.png" height="125" width="125"> 
	<h1>Scoop</h1>
	<p>A custom RSS reader. </p>
	<nav>
		<ul>
			<li><a href="/feeds#feedsIndexAnchor">Feeds</a></li>
			<li><a href="/form_search#formSearchAnchor">Search</a></li>
			<li><a href="/feeds/2/articles">Explore</a></li>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>
</div>

<a id="formSearchAnchor">
<!-- MAIN --> 
<div id="main"></a>
	<div class="box container">
		<section>
			<header>
				<h3>Search the Feeds</h3>
			</header>
			<div>
    			<!-- Form to get user input required for search report creation -->
                <%= form_tag("/search.html", :method => "get", id: "search-form") do %>
					<!-- Creates search box user can type queries into-->
                	
                	<div class="row" id="tftsearch">
                		<div class="9u 12u(mobilep)">
                			<label for="tftsearch">Query</h4>
                			<%= text_field_tag :search, params[:search], placeholder: "Enter keywords", id: "tftsearch"%>
                		</div><br>
            			<ul class="icons">
            				<% url = info_path + "#infoAnchor"%>
            				<li><a href=<%=url%> class="icon fa-question"><span class="label">Info</span></a></li>
            			</ul>
                	</div>
               		
                	<div class="row" id="ulwithdates">
                		<div class="6u 12u(mobilep)">
                			<label for="from">From</label>
                			<input type="text" id="from" name="from" placeholder="Start Date">
                		</div>
                		<div class="6u 12u(mobilep)">
                			<label for="to">To</label>
                			<input type="text" id="to" name="to" placeholder="End Date">
                		</div>
                	</div>

                	<script>
                		var from = $( "#from" ).datepicker({maxDate: '0'});
                		var to = $("#to" ).datepicker({maxDate: '0'});    
                	</script>
                	</label><br>
                	<label for="tableoffeeds">RSS Feeds</label>
                	<div class="row">
                		<div class="table-wrapper">
        					<tbody>
        						<!--Creates checkboxes for each feed-->
        						<% @feeds_selected.each do |feed| %>
            						<tr>
              							<!-- Puts all feeds that were marked true into an array referenced through selected[]-->
              							<%= check_box_tag :"selected[]", feed.id, true %>
             							<td><%= feed.name %></td>
             							<br>
            						</tr>
            					<% end %>
            				</tbody>
            			</div>
            		</div>
            		<br>
            		<ul class="actions">
                    	<li><%= submit_tag "Search", :name => nil %></li>
                    </ul>
                <% end %>
			</div>
		</section>
	</div>
</div>
<!-- Footer -->
<div id="footer">
	<div class="container 75%">
		<header class="major last">
			<h2>Made by the Supreme Team for CS499.</h2>
		</header>
	</div>
</div>