<div id="header">
  <img src="../assets/scoop.png" height="125" width="125"> 
  <h1>Scoop</h1>
  <p>A custom RSS reader.</p>
  <nav>
    <ul>
      <li><a href="/feeds">Feeds</a></li>
      <li><a href="/form_search">Search</a></li>
      <li><a href="/feeds/2/articles">Explore</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</div>

<a id="feedsIndexAnchor">
<!-- Main -->
<div id="main"></a>
  <!-- TABLE SECTION-->
  <section>
    <div class="box container">
      <header>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> alert-dismissible" role="alert">
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
              <%= value %>
            </div>
        <% end %>
        <h2>RSS Feeds</h2>
      </header>
      <div class="table-wrapper">
        <table class="default">
          <thead>
            <tr>
              <th>Name</th>
              <th>Actions</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @feeds.each do |feed| %>
            <tr>
              <td><h3><%= link_to feed.name, feed %></h3></td>
              <td><%= button_to 'Edit', edit_feed_path(feed), method: :get%></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <ul class="actions">
        <li><%= button_to 'Back', welcome_path, method: :get %></li>
        <li><%= button_to 'New Feed', new_feed_path, method: :get %></li>
      </ul>
    </div>
  </section>
</div>
<!-- Footer -->
<div id="footer">
  <div class="container 75%">
    <header class="major last">
      <h2>Made by the Supreme Team for CS499.</h2>
    </header>
  </div>
</div>