<div id="header">
  <img src="assets/scoop.png" height="125" width="125"> 
  <h1>Scoop</h1>
  <p>A custom RSS reader.</p>
  <nav>
    <ul>
      <li><a href="/feeds#feedsIndexAnchor">Feeds</a></li>
      <li><a href="/form_search#formSearchAnchor">Search</a></li>
      <li><a href="/feeds/2/articles">Explore</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</div>

<a id="feedsIndexAnchor">
<!-- Main -->
<div id="main"></a>
  <!-- TABLE SECTION-->
  <section>
    <div class="box container">
      <header>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> alert-dismissible" role="alert">
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
              <%= value %>
            </div>
        <% end %>
        <h2>RSS Feeds</h2>
      </header>
      <% unless @feeds.empty? %>
        <div class="table-wrapper">
          <table class="default">
            <thead>
              <tr>
                <th>Name</th>
                <th>Edit</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <% @feeds.each do |feed| %>
                <tr>
                  <% url1 = "/feeds/" + feed.id.to_s + "#feedsShowAnchor" %>
                  <td><h3><%= link_to feed.name, url1, class: 'alt' %></h3></td>
                  <td>
                    <ul class="icons">
                      <% url2 = edit_feed_path(feed) + "#feedsEditAnchor" %>

                      <li><a href=<%=url2%> class="icon fa-pencil"><span class="label">Edit</span></a></li>
                    </ul>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <h4>Add some feeds to see them here!</h4>
      <% end %>
      <br>
      <ul class="actions">

        <%url1 = new_feed_path + "#feedsNewAnchor"%>
        <li><%= button_to 'New Feed', url1, method: :get %></li>
      </ul>
    </div>
  </section>
</div>
<!-- Footer -->
<div id="footer">
  <div class="container 75%">
    <header class="major last">
      <h2>Made by the Supreme Team for CS499.</h2>
    </header>
  </div>
</div>