<!-- Header -->
<div id="header">
  <img src="../../images/scoop.png" height="125" width="125"> 
  <h1>Scoop</h1>
  <p>A custom RSS reader.</p>
  <nav>
    <ul>
      <li><a href="/feeds">Feeds</a></li>
      <li><a href="/form_search">Search</a></li>
      <li><a href="/feeds/2/articles">Explore</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</div>

<a id="articlesIndexAnchor"></a>
<!-- Main -->
<div id="main">
  <!-- TABLE SECTION-->
  <section>
		<p id="notice"><%= notice %></p>
		<div class="box container">
				<header>
  				<h2><%=@feed.name%> Articles</h2>
				</header>
				
          <% @articles.each do |article| %>
					 <%= link_to article.title, article %> - <i> published <%= time_ago_in_words(article.published) %> ago.</i> <br>
				  <% end %>
       <br>
        <ul class="actions">
          <% url1 = form_search_path + "#formSearchAnchor"%>
          <% url2 = feeds_path + "#feedsIndexAnchor"%>
          <li><%= button_to 'Search', url1, method: :get %></li>
          <li><%= button_to 'Back', url2, method: :get %></li>
        </ul>
		</div>
	</section>
</div>
<!-- Footer -->
<div id="footer">
  <div class="container 75%">
    <header class="major last">
      <h2>Made by the Supreme Team for CS499.</h2>
    </header>
  </div>
</div>