<!-- Header -->
<div id="header">
	<!--<span class="logo icon fa-paper-plane-o"></span>-->
	<img src="../../../images/scoop.png" height="125" width="125"> 
	<h1>Scoop</h1>
	<p>A custom RSS reader. </p>
	<nav>
		<ul>
			<li><a href="/feeds#feedsIndexAnchor">Feeds</a></li>
			<li><a href="/form_search#formSearchAnchor">Search</a></li>
			<li><a href="/articles#articlesIndexAnchor">Explore</a></li>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>
</div>

<!-- MAIN --> 
<a id="articlesShowAnchor">
<div id="main"></a>
	<div class="box container">
		<section>
			<header>
				<h3><%=@article.title%></h3>
					<p>by <%=@article.author%></p>
			</header>
			<div class="table-wrapper">
				<table class="default">
					<tbody>
						<tr>
							<td><strong>Title</strong></td>
							<td><%=@article.title%></td>
						</tr>
						<tr>
							<td><strong>Author</strong></td>
							<td><%=@article.author%></td>
						</tr>
						<tr>
							<td><strong>Published</strong></td>
							<td><%=@article.published%></td>
						</tr>
						<tr>
							<td><strong>Images</strong></td>
							<% url1 = "/articles/" + @article.id.to_s + "/images#imagesIndexAnchor"%>
							<td><a href=<%=url1%>>View All</a></td>
						<tr>
							<td><strong>Readability</strong></td>
							<td><%=@article.readability.round(2)%></td>
						</tr>
						<tr>
							<td><strong>Word Count</strong></td>
							<td><%=@article.wordcount%></td>
						</tr>
						<tr>
							<td><strong>Sentimentality</strong></td>
							<td><%=@article.sentimentality.round(2)%></td>
						</tr>
						<tr>
							<td><strong>String Length</strong></td>
							<td><%=@article.string_length%></td>
						</tr>
						<tr>
							<td><strong>Letter Count</strong></td>
							<td><%=@article.letter_count%></td>
						</tr>
						<tr>
							<td><strong>Sentence Count</strong></td>
							<td><%=@article.sentence_count%></td>
						</tr>
						<tr>
							<td><strong>Syllable Count</strong></td>
							<td><%=@article.syllable_count%></td>
						</tr>
						<tr>
							<td><strong>Average Syllables per Word</strong></td>
							<td><%=@article.average_syllables_per_word.round(2)%></td>
						</tr>
						<tr>
							<td><strong>Average Words per Sentence</strong></td>
							<td><%=@article.average_words_per_sentence.round(2)%></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="12u" style="border-width: 1px; border-radius: 4px;">
						<p><strong>Content</strong></p>
						<p><%= @article.content %></p>
				</div>
			</div>

					
				<div class="row">
					<div class="12u">
						<ul class="actions">
							<% url1 = "/articles" + "?feedid=" + @article.feed_id.to_s + "#articlesIndexAnchor"%>
							<li><%= button_to 'More Articles', url1, method: :get%></li>
						</ul>
					</div>
				</div>

		</section>
	</div>
</div>
<!-- Footer -->
<div id="footer">
	<div class="container 75%">
		<header class="major last">
			<h2>Made by the Supreme Team for CS499.</h2>
		</header>
	</div>
</div>